ul#menu{
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}
.header{
    display:inline;
    padding-left: 120px;
    padding-right: 120px;
    font-size: 1.5vw;
    margin-bottom: 150%;
}
a{
    text-decoration:none;
    color:black;
}
h1{
    text-align: center;
    font-size: 5vw;
    background-color: #327355;
    color: white;
   padding-left: 0%;
   padding-top: 30px;
   padding-bottom: 30px;
   padding-right: 0%;
}
h2{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #327355;
    color: white;
}
h3{
    text-align: center;
}
.pfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.art{
    text-align: center;
    list-style-position: inside;
}
.job{
    text-align: center;
    list-style-position: inside;
}

footer{
    text-align: center;
}