ul{
    font-family: Helvetica, Arial, sans-serif;

}
a{
    text-decoration:none;
    color:black;
    
}
.header{
    display:inline;
    padding-left: 120px;
    padding-right: 120px;
    font-size: 125%;
    text-align:justify;
}
h1{
    text-align: center;
    font-size: 500%;
    background-color: #327355;
    color: white;
   padding-left: 0%;
   padding-top: 30px;
   padding-bottom: 30px;
   padding-right: 0%;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #327355;
    color: white;
}
footer{
    text-align: center;
}
